@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --accent-color: #6423b6;
  --second-color: #dc2999;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
.loader {
  background-color: #f4eaf3;
}
body[data-theme="dark"] .loader {
  background-color: black;
}
body[data-theme="dark"] {
  background-color: #26292e;
  color: #fff;
}
body[data-theme="dark"] .slide {
  background-color: black;
}
/* Switcher */
body[data-theme="dark"] #themeSwitcher {
  background-color: rgba(122, 122, 122, 0.2);
}
body[data-theme="dark"] path.baseline {
  stroke: #303338;
}
body[data-theme="dark"] .logo-night {
  display: none;
}
body[data-theme] .logo-bright {
  display: none;
}
body[data-theme="dark"] .logo-bright {
  display: block;
}

body[data-theme="dark"] [type="email"].form-control,
body[data-theme="dark"] .works-body {
  color: #fff;
}
[type="email"].form-control {
  background-color: rgba(196, 196, 196, 0.1);
  color: rgba(48, 51, 56, 0.86);
}
body[data-theme="dark"] .works-card {
  background-color: #26292e;
}
body[data-theme="dark"] .works-section {
  background-color: #303338;
}
/* Loader Style */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid var(--accent-color);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 50px;
    left: 50px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
/* Custom CSS */
.text-reveal {
  position: relative;
  line-height: 1.5;
}
.text-reveal-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: top;
  background-color: white;
}
.text-reveal-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: top;
  background-color: white;
}
.text-reveal-3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: top;
  background-color: white;
}
/* Fonts */
.f-18 {
  font-size: 18px;
  line-height: 21px;
}
.f-24 {
  font-size: 24px;
  line-height: 28px;
}
.f-48 {
  font-size: 48px;
  line-height: 56px;
}
.fw-700 {
  font-weight: 700;
}
.btn {
  background-color: #6423b6;
  color: #fff;
  border-radius: 10px;
}
/* Home section */
.home-section {
  padding-top: 100px;
}
.home-section::after {
  content: "";
  position: absolute;
  top: 20%;
  right: 0;
  height: 100%;
}
.home-flex {
  flex-grow: 1;
  flex-shrink: 1;
}
.home-flex-text {
  flex-basis: 700px;
}
.home-flex-hero {
  flex-basis: 430px;
}
.img-contain {
  width: 100%;
  object-fit: contain;
}
.text-accent {
  color: var(--accent-color);
}
.text-second {
  color: var(--second-color);
}
/* Countdown section */
.countdown-section {
  padding-top: 100px;
}
/* loading-js styling */
.ldBar {
  position: relative;
  stroke-width: 2;
}
.ldBar.label-center > .ldBar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  /* text-shadow: 0 0 3px #fff; */
}
.ldBar.label-center > .my-label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* text-shadow: 0 0 3px #fff; */
}
.ldBar-label:after {
  content: "";
  display: inline;
}
.ldBar.no-percent .ldBar-label:after {
  content: "";
}
.ldBar path.mainline {
  stroke-linecap: round;
  stroke-width: 1;
}
/* Worried Section */
.worried-section {
  padding-top: 100px;
}
/* Works Section */
.works-section {
  padding-top: 100px;
  background: rgba(229, 229, 229, 0.13);
}
.works-card {
  width: 100%;
  max-width: 365px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}
.works-card::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 0 0 10px 10px;
}
.works-icon-holder {
  height: 105px;
  width: 105px;
  border-radius: 50%;
  background: rgba(100, 35, 182, 0.3);
}
.work-body {
  color: #303338;
}
/* Screenshots section */
.screenshots-section {
  padding-top: 100px;
}
.tour-screen .img-contain {
  max-height: 640px;
}
.slide {
  background-color: #f4eaf3;
}
.flex-basis-sm.home-flex-text {
  flex-basis: auto;
}
#themeSwitcher {
  background-color: #fff;
  height: 100px;
  width: 100px;
  transform-origin: left;
  transform: translateY(10px) scale(0.4);
  cursor: pointer;
}
#themeSwitcher img {
  width: 50%;
  object-fit: contain;
}
* {
  transition: background-color 0.5s ease;
}
